<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Add Product</title>
</head>
<body>
<h2>Add Product</h2>

<form action="#" th:action="@{/saveProduct}" th:object="${product}" method="POST">
    <input type="text" th:field="*{productName}" placeholder="Product name">
    <input type="number" th:field="*{price}" placeholder="Price">
    <input type="number" th:field="*{quantity}" placeholder="Quantity">
    <button type="submit">ADD</button>
</form>
<hr>
<a th:href="@{/}">Back to Product List</a>
</body>
</html>